* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: block;
  position: relative;
}
form .form-inner {
  position: relative;
  display: block;
  padding: 50px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 20px;
}

.form-inner .form-group label {
  display: block;
  font-size: 20px;
}

form .form-inner .form-group .form-button {
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}

input {
  padding: 3px;
  margin: 3px;
}
