.error {
  color: salmon;
}

button {
  padding: 16px;
  position: relative;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  top: 80px;
  left: 40px;
}
